.fade-enter {
	opacity: 0;
	transform: translateY(-30px);
}

.fade-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 500ms, transform 500ms;
}

.fade-exit {
	opacity: 1;
	transform: translateY(0);
}

.fade-exit-active {
	opacity: 0;
	transform: translateY(30px);
	transition: opacity 500ms, transform 500ms;
}

.logo {
	position: absolute;
	top: 50%;
	right: -5%;
	transform: translate(-50%, -50%);
}

@media (max-width: 900px) {
	.logo {
		top: 45%;
		right: -35%;
		height: 200px;
		width: auto;
	}
}
