/* Global Style */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: var(--font-size-md);
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	background-color: var(--background-color);
	color: var(--text-color);
	line-height: 1.6;
	margin: 0;
	padding: 0;
	transition: background-color var(--transition-duration),
		color var(--transition-duration);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary-color);
}

h2 {
	font-size: 2.2em;
}

p {
	color: var(--text-light-color);
}

/* Styling the scroll bar */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background-color);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--text-light-color);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* Selection */
::selection {
	color: var(--text-light-color);
	background-color: var(--secondary-color);
}
