/* Variables */
:root {
	--primary-color: #dde0e1;
	--secondary-color: #2980b9;
	--accent-color: #3498db;
	--background-color: #1f2831;
	--light-background-color: #232d37;
	--shadow: #12161bcc;
	--text-color: #2c2c2c;
	--text-light-color: #7f8c8d;

	--font-family: "Inter", sans-serif;
	--font-size-lg: 24px;
	--font-size-md: 16px;
	--font-size-sm: 12px;

	--border-radius: 5px;
	--box-shadow: 0 4px 6px var(--shadow);
	--transition-duration: 0.3s;
}
