.change-lang-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
}

.change-lang-dropdown {
	width: 100px;
	text-align: center;
	padding: 2.5px;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 5px;
	background-color: var(--primary-color);
	color: var(--background-color);
	cursor: pointer;
	user-select: none;
}

.dropdown-options {
	text-align: center;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border: 2px solid #ccc;
	border-top: none;
	background-color: var(--primary-color);
	border-radius: 0 0 5px 5px;
	z-index: 1;
}
