.contact-container {
	height: fit-content;
	padding-bottom: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
}

.contact-list {
	display: flex;
	gap: 20px;
}

.contact-item {
	display: flex;
	flex-direction: column;
	color: var(--text-lighter-color);
}
