.skills-container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.skills-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.button-container {
	display: flex;
	justify-content: center;
	padding: 10px;
}

.button.skill {
	flex: 1 1 calc(33.333% - 20px);
	max-width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 12px;
	padding: 0;
	text-decoration: none;
	font-weight: bold;
	position: relative;
	overflow: hidden;
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	height: 130px;
	width: 150px;
	cursor: pointer;
	background-color: transparent;
}

.button.skill:hover {
	background-color: var(--light-background-color);
	box-shadow: inset 0px 1.4px 0px #297fb927, 0 4px 8px rgba(0, 0, 0, 0.1);
	transform: translate(-4px, -4px);
	cursor: default;
}

.button.skill:active {
	transform: translate(-4px, -4px);
	box-shadow: inset 0px 1.4px 0px #297fb927, 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	color: var(--secondary-color);
}

.skill-icon {
	width: 54px;
	height: 54px;
	transition: all 30ms;
}

.button-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	text-align: center;
	opacity: 0;
	z-index: 2;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
}

.button-text > strong {
	text-transform: capitalize;
	font-size: 1em;
	color: var(--text-light-color);
}

.button.skill:hover .skill-logo {
	width: 65px;
	height: 65px;
	top: 42.5%;
}

.button.skill:hover .skill-icon {
	transform: scale(0.95);
}

.button.skill:hover .button-text {
	opacity: 1;
	transform: translateY(0);
	color: var(--secondary-color);
}

.button-text > span:last-child {
	text-transform: capitalize;
	color: var(--secondary-color);
}

@media (max-width: 768px) {
	.skills-container {
		align-items: flex-start;
		gap: 10px;
		padding-bottom: 80px;
	}

	.skills-container > h2 {
		padding-left: 20px;
		font-size: 1em;
	}

	.skills-list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: left;
	}

	.button.skill {
		height: 60px;
		width: 60px;
	}

	.skill-logo {
		width: fit-content;
		height: fit-content;
	}

	.skill-icon {
		width: 34px;
		height: 34px;
	}

	.button-text {
		font-size: 0.7em;
		color: var(--light-background-color);
		bottom: 0;
	}

	.button.skill:hover {
		background-color: transparent;
		box-shadow: none;
		transform: none;
	}

	.button.skill:active {
		transform: none;
		box-shadow: none;
	}
}
