.navbar-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 100px;
}

a {
	text-decoration: none;
}

.navbar-item {
	text-decoration: none;
	font-size: 1.1rem;
	transition: all 400ms ease-in-out;
}

.navbar-item:hover {
	color: #c8cdcd;
}

@media (max-width: 768px) {
	.navbar-container {
		gap: 40px;
	}
}

@media (max-width: 480px) {
	.navbar-container {
		flex-direction: column;
		gap: 20px;
	}

	.navbar-item {
		font-size: 0.9rem;
	}
}
